<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.HotTopicsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.HotTopics">
            <id property="id" column="id" />
            <result property="topic_id" column="topic_id" />
            <result property="reason" column="reason" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,topic_id,reason,create_time,update_time,is_deleted
    </sql>
</mapper>
