<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TopicsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Topics">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="anonymous" column="anonymous" />
            <result property="likes" column="likes" />
            <result property="views" column="views" />
            <result property="username" column="username" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,anonymous,likes,views,
        username,create_time,update_time,is_deleted
    </sql>
</mapper>
