<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>欢迎注册</title>
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css">
  <link rel="stylesheet" href="../../styles/register.css">
  <link rel="stylesheet" href="../../styles/icon/iconfont.css" />
</head>

<body>
<div class="register" id="register-app">
  <div class="register-box">
    <img src="../../images/login/logoleft.png" style="border-radius: 8px 0px 0px 8px;" alt="">
    <div class="register-form">
      <el-form ref="registerForm" :model="registerForm" :rules="registerRules">
        <div class="register-form-title">

        </div>
        <el-form-item prop="email">
          <el-input v-model="registerForm.phone" type="text" auto-complete="off" placeholder="邮箱" maxlength="20"
                    prefix-icon="iconfont icon-phone" />
        </el-form-item>

        <el-form-item prop="username">
          <el-input v-model="registerForm.username" type="text" auto-complete="off" placeholder="用户名" maxlength="20"
                    prefix-icon="iconfont icon-user" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input v-model="registerForm.password" type="password" placeholder="密码" prefix-icon="iconfont icon-lock" maxlength="20" />
        </el-form-item>
        <el-form-item style="width:100%;">
          <el-button :loading="loading" class="register-btn" size="medium" type="primary" style="width:100%;"
                     @click.native.prevent="handleRegister">
            <span v-if="!loading" style="font-weight: bold;">注册</span>
            <span v-else>注册中...</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../api/register.js"></script>

<script>
  new Vue({
    el: '#register-app',
    data() {
      return {
        registerForm: {
          phone: '',
          verificationCode: '',
          username: '',
          password: '',
          confirmPassword: ''
        },
        loading: false
      }
    },
    computed: {
      registerRules() {
        return {
          'phone': [{ required: true, message: '请输入手机号码', trigger: 'blur' }],
          'verificationCode': [{ required: true, message: '请输入验证码', trigger: 'blur' }],
          'username': [{ required: true, message: '请输入用户名', trigger: 'blur' }],
          'password': [{ required: true, message: '请输入密码', trigger: 'blur' }],
        }
      }
    },
    methods: {
      handleGetVerificationCode() {
        console.log('获取验证码');
      },
      handleRegister() {
        console.log('注册');
      }
    }
  });
</script>
</body>

</html>