<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zr.uniSoul.mapper.AssessmentMapper">
    <insert id="save">
        INSERT INTO assessment_reports (user_id, created_at,session_uuid,conclusion,suggestions)
        VALUES (#{userId},#{generatedTime},#{sessionUuid},#{content.conclusion},#{content.suggestions})
    </insert>


    <!--    <insert id="startAssessment" useGeneratedKeys="true" keyProperty="session_id">-->
<!--        INSERT INTO assessment_session (user_id, assessment_id, start_time)-->
<!--        VALUES (#{userId}, #{assessment_id}, #{start_time})-->
<!--    </insert>-->

    <select id="getAssessments" resultType="com.zr.uniSoul.pojo.vo.AssessmentVO">
        SELECT
        id,
        category_id,
        name,
        introduction,
        questions_count,
        created_at,
        csCount
        FROM
        assessment
        <where>
            <if test="categoryId != 0">
                AND category_id = #{categoryId}
            </if>
        </where>
        ORDER BY created_at DESC
</select>
    <select id="getQuestions" resultType="com.zr.uniSoul.pojo.vo.QuestionsVo">
    SELECT
    topic,options,question_type,sort_order from question
 where assessment_id = #{id}
    </select>
    <resultMap id="reportVOMap" type="com.zr.uniSoul.pojo.vo.ReportVO">
        <!-- 基础字段映射 -->
        <result property="sessionUuid" column="session_uuid"/>
        <result property="assessmentSessionId" column="session_uuid"/> <!-- 假设session_uuid同时映射到两个字段 -->
        <result property="createdAt" column="created_at"/>

        <!-- 嵌套对象映射 -->
        <association property="content" javaType="com.zr.uniSoul.pojo.entity.ReportContent">
            <result property="conclusion" column="conclusion"/>
            <result property="suggestions" column="suggestions"/>
        </association>
    </resultMap>

    <select id="getMyReport" resultMap="reportVOMap">
        SELECT
            session_uuid,
            created_at,
            conclusion,
            suggestions
        FROM assessment_reports
        WHERE user_id = #{userId}
    </select>
</mapper>