<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zr.uniSoul.mapper.ChatMessageMapper">
    <select id="pageQueryMessage" resultType="com.zr.uniSoul.pojo.entity.ChatMessage">
        SELECT cm.*, u.avatarUrl AS receiverAvatar
            FROM chat_message cm
            JOIN `user` u ON (cm.sender_id = u.id)
            WHERE (cm.sender_id = #{userId} AND cm.receiver_id = #{receiverId})
            OR (cm.sender_id = #{receiverId} AND cm.receiver_id = #{userId})
            ORDER BY cm.create_time DESC
    </select>
</mapper>