<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zr.uniSoul.mapper.zhxtMapper">

    <insert id="insert">
        insert into article(title,author_id,content,create_time,cover_image,tags,category_id,update_time) values(#{title},#{authorId},#{content},#{createTime},#{coverImage},#{tags},#{categoryId},#{updateTime})
    </insert>
    <select id="pageQuery" resultType="com.zr.uniSoul.pojo.entity.Article">
        select * from article
        <where>
            <if test="category_id != null">
                and category_id = #{category_id}
            </if>
        </where>
        order by like_count asc , create_time desc

    </select>
</mapper>