<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zr.uniSoul.mapper.xtqhMapper">
    <insert id="follow">
        insert into follow(follower_id,following_id) values(#{follower_id},#{following_id})
    </insert>
    <update id="update">
        update user set name=#{name},age=#{age},gender=#{gender},school=#{school},biography=#{biography},school=#{school}  where username = #{username}
    </update>


    <select id="findByPasswordAndUsername" resultType="com.zr.uniSoul.pojo.entity.User">
        select * from user where password = #{password} and username = #{username}
    </select>
    <select id="findByUsername" resultType="com.zr.uniSoul.pojo.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="findIdByUsername" resultType="java.lang.Integer">
        select id from user where username = #{username}
    </select>
    <update id = "likes">
        update article
        set like_count = #{likesCount}
        where id = #{article_id}
    </update>
    <insert id="likesArticle">
        insert into likes_article(user_id,article_id,create_time) values(#{userId},#{articleId},#{createTime})
    </insert>
    <delete id="deleteLikesArticle">
        delete from likes_article where user_id = #{userId} and article_id = #{articleId}
    </delete>
    <update id="updateLikes">
        update article
        set like_count = like_count + #{likesCount}
        where id = #{user_id}
    </update>
    <update id="updateAvatar">
        update user set avatarUrl = #{filePath} where username = #{username}
    </update>
    <update id="reduceFavoriteCount">
        update article set favoriteCount = favoriteCount - 1 where id = #{articleId}
    </update>
    <select id="getFollowersByUsername" resultType="java.lang.String">
        SELECT u.username
        FROM user u
                 JOIN follow f ON u.id = f.follower_id
        WHERE f.following_id = (
            SELECT id FROM user WHERE username = #{username}
        )
        </select>
    <select id="getMyArticles" resultType="com.zr.uniSoul.pojo.vo.ArticleVO">
        select * from article where author_id = #{authorId}
    </select>
</mapper>